/* Estilo general del panel */
.dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f5f5f5; /* Fondo gris claro para el área general */
}

/* Estilo del título principal */
.dashboard h1 {
  text-align: center;
  color: #ffffff; /* Color oscuro para el título */
  margin-bottom: 20px;
}

/* Estilo de cada elemento del acordeón */
.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #333; /* Bordes oscuros */
  border-radius: 5px;
  background-color: #fff; /* Fondo blanco */
  overflow: hidden;
}

/* Encabezados del acordeón */
.accordion-header {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea; /* Fondo claro para los encabezados */
  color: #333; /* Texto oscuro */
  font-weight: bold;
  font-size: 1.1em;
}

.accordion-header h2 {
  margin: 0;
  color: #333; /* Asegura que el texto sea oscuro */
  font-size: 1.2em; /* Tamaño de fuente ligeramente mayor */
}

/* Efecto hover en los encabezados */
.accordion-header:hover {
  background-color: #ddd; /* Fondo más oscuro al pasar el mouse */
}

/* Contenido desplegable */
.accordion-content {
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para el contenido */
  color: #0300ac; /* Texto oscuro */
  border-top: 1px solid #ccc; /* Línea para separar contenido del encabezado */
}
.accordion-content h3 {
  color: #ffffff;
  margin-bottom: 2vw;
}
/* Iconos de flecha */
.accordion-header span {
  font-size: 1.2em;
  color: #333; /* Color oscuro para las flechas */
}
