.navbar {
  width: 100%;
  background-color: #333;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Asegura que los hijos estén en vertical */
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f7fa;
  color: #01031b;
  padding: 0.68vw 1.36vw;
  width: 100%;
  height: 9vw;
}

.navbar-logo img {
  height: 8vw;
  margin-left: 2vw;
}

.navbar-contact {
  text-align: right;
  font-size: 1.5vw;
}

.navbar-contact p {
  margin: 0;
  margin-right: 3.54vw;
}

.navbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c4585;
  padding: 0.68vw 1.36vw;
  width: 100%;
  height: 2.71vw;
}

.navbar-links a {
  margin: 0 2.72vw; /* Combina márgenes laterales */
  text-decoration: none;
  color: #fff;
  font-size: 1vw;
}

.navbar-login button {
  width: 6vw;
  height: 2vw;
  font-size: 0.8vw;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 2.04vw;
}
