.carousel-container {
  position: relative;
  width: 95%;
  margin: auto;
  overflow: hidden;
  margin-top: 120px;
}

.carousel-inner {
  margin-top: 40px;
  display: flex;
  transition: transform 0.5s ease;
  border: 20px solid #0c4585;
}

.carousel-image {
  min-width: 99.5%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.5;
  max-height: 500px;
}

.carousel-image.center {
  opacity: 1;
  transform: scale(1.1);
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
